{
    "semi": false,
    "tabWidth": 4,
    "singleQuote": true,
    "arrowParens": "avoid",
    "jsxBracketSameLine": true,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "package.json",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.yml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
